@keyframes letterAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-image: url("images/132092-black-and-blue-geometric-abstract-background-vector-illustration.jpg");
  background-attachment: fixed;
}

.bigInput {
  width: 68vh;
  margin-left: 11vh;
}
.defNavbar {
  height: 10vh;
  background: rgb(50, 210, 201);
  background: linear-gradient(162deg, rgba(50, 210, 201, 1) 0%, rgba(35, 22, 221, 1) 90%, rgba(142, 87, 141, 1) 100%);
  box-shadow: 0 5px 30px 5px;
}

.navTitle{
  font-size:0.9vw;
  white-space:nowrap;
}
.xbox{
  background: rgb(23,213,0);
  background: linear-gradient(162deg, rgba(23,213,0,1) 0%, rgba(38,148,0,1) 53%, rgba(1,116,0,1) 100%);
}
.xboxBackground{
  background-image: url("images/132092-black-and-blue-geometric-abstract-background-vector-illustration.jpg");
  height:100%;
  width:100%;
  position:fixed;
  filter:hue-rotate(270deg);
  z-index:-1;
}
.playstation{
  background: rgb(23,42,255);
  background: linear-gradient(162deg, rgba(23,42,255,1) 0%, rgba(0,15,148,1) 53%, rgba(0,4,110,1) 100%);
}
.playstationBackground{
  background-image: url("images/132092-black-and-blue-geometric-abstract-background-vector-illustration.jpg");
  height:100%;
  width:100%;
  position:fixed;
  filter:hue-rotate(335deg);
  z-index:-1;
}
.switch{
  background: rgb(255,25,25);
  background: linear-gradient(162deg, rgba(255,25,25,1) 0%, rgba(163,0,0,1) 53%, rgba(126,0,0,1) 100%);
}
.switchBackground{
  background-image: url("images/132092-black-and-blue-geometric-abstract-background-vector-illustration.jpg");
  height:100%;
  width:100%;
  position:fixed;
  filter:hue-rotate(155deg);
  z-index:-1;
}
.pc{
  background: rgb(103,103,103);
  background: linear-gradient(162deg, rgba(103,103,103,1) 0%, rgba(50,50,50,1) 75%, rgba(10,10,13,1) 100%);
}
.pcBackground{
  background-image: url("images/132092-black-and-blue-geometric-abstract-background-vector-illustration.jpg");
  height:100%;
  width:100%;
  position:fixed;
  filter:grayscale(80%);
  z-index:-1;
}
.aContainer {
  margin-left: 20vw;
  margin-right: 20vw;
}
.gameImg{
  height:25vh;
  cursor:pointer;
  background-size:cover;
  background-position: center;
}
.c-title{
  font-size:2.5vh;
}
.c-text{
  font-size:1.5vh;
  height:9.1vh;
  overflow:hidden;
}
.hidden{
  display:none;
}
.imgContainer{
  position:relative;
  transform-style:preserve-3d;
}
.ratingBadge{
  position:absolute;
  bottom:1vh;
  border-style:solid;
  transform:translateZ(20px) scaleY(1);
  transform-origin:top;
}
.symGlow{
  cursor:pointer;
}
.searchImg{
  cursor:pointer;
  height:15.2vh;
}
.searchItem{
  height:20vh;
}
.searchScore{
  right:0;
  margin-right:2px;
  margin-bottom:2px;
  width:10vw;
  font-size:1vw;
}
.mainLogo{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-weight:bolder;
}
#gameCaro img{
  height:67vh;
}
.iframe-container{
  position:relative;
  width:100%;
  padding-bottom:56.25%;
  height:0;
  margin-top:2vh;
}
.iframe-container iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.comInput{
  margin-top:3vh;
  height:10vh;
  width:100%;
  margin-bottom:1vh;
}
.nameInput{
  margin-top:1vh;
  width:50%;
}
.subButton{
  height:6vh;
  position:relative;
  right:0;
  top:7vh;
}
.gameDetailsContainer{

}
.gameDetail{

}
.gameBackground{
  height:100%;
  width:100%;
  top:0;
  left:0;
  position:fixed;
  z-index:-1;
  filter:blur(15px);
}
.gameBackground img{
  height:100%;
  width:100%;
}
.behindBackground{
  height:100%;
  width:100%;
  top:0;
  left:0;
  position:fixed;
  z-index:-1;
  background-color:black;
}
.rateInput{
  width:6vw;
}
.fa-times{
  cursor:pointer;
}
.searchRating{
  position:absolute;
  left:0;
  bottom:0;
}
.sortContainer{
  position:absolute;
  right:54%;
  top:25.5vh;
  height:6.2vh;
  width:1vw;
  display:flex;
  flex-wrap:wrap;
}
.fa-sort-up{
  color:#64f36e;
  text-shadow:0 0 7px green;
  animation-name:letterAnimation;
  animation-duration:1.5s;
  font-size:3vh;
}
.fa-sort-down{
  color:#f94242;
  text-shadow: 0 0 7px red;
  margin-top:3vh;
  animation-name:letterAnimation;
  animation-duration:1.5s;
  font-size:3vh;
}
.backArrow{
  cursor:pointer;
  position:absolute;
  z-index:+1;
  margin-top:2vh;
  margin-left:1.5vh;
}
.backArrow:hover{
  text-shadow: 0 0 8px red;
}
.bruhSpin{
  position:absolute;
  top:15vh;
  right:50%;
}
.gameNavBar{
  display: unset
}
.cardInfoTitle{
  font-size:1.2vw;
}
.cardInfo{
  font-size:1vw;
}
.detailsButton{
  font-size:1vw;
}
.rateButton{
  font-size:1vw;
  width:8vw;
}
.summaryText{
  font-size:1.1vw;
}
.missing-fields{
  display:inline-block;
  white-space:nowrap;
  position:absolute;
  left:32vw;
  bottom:11vh;
}
.noScreenShots{
  text-align:center;
  margin-top:22vh;
  margin-bottom:22vh;
}
.detailsButton:hover{
  box-shadow: 0 0 10px 2px #0deaea;
}

@media only screen and (max-width: 1442px){
  .bigInput{
    width: 60vh;
    margin-left:3vh;
  }
}
@media only screen and (max-width: 1309px){
  .bigInput{
    width: 50vh;
    margin-left:0vh;
  }
}

@media only screen and (max-width: 1200px){
  .summaryText{
    font-size:1.5vw;
    width:52vw;
    text-align:center;
  }
  .bigInput{
    width: 35vh;
  }
}


@media only screen and (max-width: 992px){
  .summaryText{
    font-size:1.7vw;
  }
}

@media only screen and (max-width: 991px){
  .navbar-collapse{
    text-align:center;
  }
  .rateButton{
    width:10vw;
    font-size:1.8vw;
  }
  .detailsButton{
    font-size:1.6vw;
  }
  .cardInfoTitle{
    font-size:2vw;
  }
  .cardInfo{
    font-size:1.5vw;
  }
  .searchScore{
    font-size:1.5vw;
  }
  .defaultMobile{
    background: rgb(50, 210, 201);
    background: linear-gradient(162deg, rgba(50, 210, 201, 1) 0%, rgba(35, 22, 221, 1) 90%, rgba(142, 87, 141, 1) 100%);
  }
  .navTitle{
    font-size:2vw;
  }
  .bigInput{
    margin:auto;
    width:70%;
    margin-bottom:2vh;
  }
  .searchButton{
    margin-bottom:2vh;
    margin-right:4vw;
  }
  .xboxMobile{
    background: rgb(23,213,0);
    background: linear-gradient(162deg, rgba(23,213,0,1) 0%, rgba(38,148,0,1) 53%, rgba(1,116,0,1) 100%);
  }
  .playstationMobile{
    background: rgb(23,42,255);
    background: linear-gradient(162deg, rgba(23,42,255,1) 0%, rgba(0,15,148,1) 53%, rgba(0,4,110,1) 100%);
  }
  .switchMobile{
    background: rgb(255,25,25);
    background: linear-gradient(162deg, rgba(255,25,25,1) 0%, rgba(163,0,0,1) 53%, rgba(126,0,0,1) 100%);
  }
  .pcMobile{
    background: rgb(103,103,103);
    background: linear-gradient(162deg, rgba(103,103,103,1) 0%, rgba(50,50,50,1) 75%, rgba(10,10,13,1) 100%);
  }
}

@media only screen and (max-width: 784px){
  .detailsButton{
    font-size:2vw;
  }
  .cardInfoTitle{
    font-size:3vw;
  }
  .cardInfo{
    font-size:2vw;
  }
  .missing-fields{
    bottom:11vh;
    font-size:2vw;
  }
}


@media only screen and (min-width: 576px) and (max-width: 595px){
  .popTitle{
    width:100%;
    margin:auto;
  }
  .popCell{
    width:25%;
  }
  .detailsButton{
    font-size:2.5vw;
  }
  .cardInfoTitle{
    font-size:3.5vw;
  }
  .cardInfo{
    font-size:2.5vw;
  }

}


@media only screen and (max-width: 575px){

  .aContainer {
    margin-left:2vh;
    margin-right:2vh;
  }
  .navTitle{
    font-size:4vw;
  }
  .searchScore{
    font-size:2.5vw;
    width:20vw;
  }
  .defaultMobile{
    background: rgb(50, 210, 201);
    background: linear-gradient(162deg, rgba(50, 210, 201, 1) 0%, rgba(35, 22, 221, 1) 90%, rgba(142, 87, 141, 1) 100%);
  }
  .carousel-item{
    height:23vh;
  }
  .carousel-item img{
    max-width: 100%;
    max-height: 100%;
  }
  .gameImg{
    height:35vh;
    width:50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2vh
  }
  .ratingBadge{
    margin-left:18vw;
  }
  .rateButton{
    font-size:3vw;
    width:20vw;
  }
  .navbar-collapse{
    text-align:center;
  }
  .bigInput{
    margin:auto;
    width:70%;
    margin-bottom:2vh;
  }
  .searchButton{
    margin-bottom:2vh;
    margin-right:4vw;
  }
  .cardInfoTitle{
    font-size:5vw;
    text-align:center;
  }
  .cardInfo{
    font-size:4vw;
    text-align:center;
  }
  .detailsButton{
    font-size:5vw;
  }
  .xboxMobile{
    background: rgb(23,213,0);
    background: linear-gradient(162deg, rgba(23,213,0,1) 0%, rgba(38,148,0,1) 53%, rgba(1,116,0,1) 100%);
  }
  .playstationMobile{
    background: rgb(23,42,255);
    background: linear-gradient(162deg, rgba(23,42,255,1) 0%, rgba(0,15,148,1) 53%, rgba(0,4,110,1) 100%);
  }
  .switchMobile{
    background: rgb(255,25,25);
    background: linear-gradient(162deg, rgba(255,25,25,1) 0%, rgba(163,0,0,1) 53%, rgba(126,0,0,1) 100%);
  }
  .pcMobile{
    background: rgb(103,103,103);
    background: linear-gradient(162deg, rgba(103,103,103,1) 0%, rgba(50,50,50,1) 75%, rgba(10,10,13,1) 100%);
  }
  .summaryText{
    font-size:3vw;
    margin-left:13vw;
    margin-bottom:2vh;
  }
  .sumPlat{
    text-align:center;
  }
  .missing-fields{
    left:50vw;
    bottom:11vh;
    font-size:3vw;
  }
}